.container {
    width: 70%;
    text-align: center;
    margin: auto;
    font-family: 'Dancing Script', cursive;
}

body {
    background-color: rgb(5, 68, 47);
}

.dice{
    display: inline-block;
    text-align: center;
    margin: 0 5%;
}

h1 {
    font-size: 600%;
    color: rgb(255, 238, 80);
}

p {
    font-size: 200%;
    color: rgb(19, 243, 213);
}

footer {
    margin-top: 10%;
    color: rgb(247, 0, 255);
    font-size: 120%;
}

img {
    width: 80%;
}

.btn {
    font-family: 'Dancing Script', cursive;
    margin-top: 5%;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.5rem;
    text-align: center;
    color: #679b9b;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #fde2e2;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.btn:hover {
    background-color: #b7efcd;
}

.btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.link {
    color: aliceblue;
}